.categories__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 4rem;

    @include media-breakpoint-up(md) {
        gap: 4.375rem;
        margin-bottom: 5rem;
    }

    .container {
        max-width: 60.125rem;
    }

    .category__item {
        --theme-color: #073c40;
        --variant-color: #288990;

        &--blue {
            --theme-color: #073c40;
            --variant-color: #288990;
        }
        &--yellow {
            --theme-color: #c1780b;
            --variant-color: #df9c18;
        }
        &--orange {
            --theme-color: #d04c14;
            --variant-color: #e86a0e;
        }
        &--purple {
            --theme-color: #1d24bf;
            --variant-color: #2d31a5;
        }
    }

    .item__subtitle {
        margin-top: 0;
        margin-bottom: 0.5rem;
        color: var(--theme-color);
        font-size: 2.5rem;
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        @include media-breakpoint-up(md) {
            margin-bottom: 1rem;
        }
    }

    .flicking-panel {
        .panel__group {
            display: grid;
            align-items: center;
            gap: 1.5rem;

            @include media-breakpoint-up(md) {
                gap: 2.5rem;
                padding-left: 2rem;
                padding-right: 2rem;
                @include parent-append(" .category__item:nth-child(odd) ", 2) {
                    grid-template-columns: 458fr 366fr;
                }
                @include parent-append(" .category__item:nth-child(even) ", 2) {
                    grid-template-columns: 366fr 458fr;
                }
            }
        }
        .panel--image {
            order: 1;
            @include media-breakpoint-up(md) {
                padding: 1.25rem;
                @include parent-append(" .category__item:nth-child(odd) ", 2) {
                    order: -1;
                }
            }
        }
        img {
            width: 100%;
            aspect-ratio: 414/288;
            object-fit: cover;
        }
        .panel--text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
            color: var(--theme-color);
            transition: color 0.3s;

            @include media-breakpoint-up(md) {
                gap: 1.25rem;
                padding: 1.25rem 1.25rem 1.25rem 0.625rem;
                @include parent-append(" .category__item:nth-child(even) ", 2) {
                    padding: 1.25rem 0.625rem 1.25rem 1.25rem;
                }
            }
            @include media-breakpoint-down(md) {
                align-items: center;
                text-align: center;
            }

            &:hover {
                color: var(--variant-color);

                i.icon {
                    transform: translateX(0.5rem);
                }
            }
        }
        .text__article {
            font-size: 1.5rem;
            line-height: 1.3;
            letter-spacing: 0.05em;
        }
        button {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0;
            background: none transparent;
            border: 0;
            appearance: none;

            span {
                color: var(--variant-color);
                font-size: 1.125rem;
                letter-spacing: 0.02em;
            }
            i.icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.5rem;
                color: white;
                font-size: 0.75rem;
                aspect-ratio: 1/1;
                background-color: var(--variant-color);
                border-radius: 50%;
                transition: transform 0.3s;
            }
        }
    }
}
