.categories__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 6.25rem;
    margin-bottom: 4rem;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        gap: 4.375rem;
        padding-top: 23.625rem;
        padding-bottom: 5rem;
        margin-bottom: 5rem;
    }
    @media screen and (min-height: 48rem) {
        padding-top: 17rem;
    }
    @media screen and (min-height: 62.5rem) {
        padding-top: 10.75rem;
    }

    .container {
        max-width: 60.125rem;
    }

    .category__item {
        --theme-color: #073c40;
        --variant-color: #288990;

        &--blue {
            --theme-color: #073c40;
            --variant-color: #288990;
        }
        &--yellow {
            --theme-color: #c1780b;
            --variant-color: #df9c18;
        }
        &--orange {
            --theme-color: #d04c14;
            --variant-color: #e86a0e;
        }
        &--purple {
            --theme-color: #1d24bf;
            --variant-color: #2d31a5;
        }
    }

    .item__slider {
        position: relative;
        @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;
        }

        &::before {
            @include clear;
            position: absolute;
            top: 50%;
            aspect-ratio: 653/378;
            background-size: cover;
            background-position: center;
            @include media-breakpoint-up(md) {
                width: 653px;
            }
        }
        &--blue::before {
            right: 0;
            background-image: url("../images/category-bg-blue.png");
            transform: rotate(-90deg) translate(35%, 35%);
            @include media-breakpoint-down(md) {
                width: 150vw;
                transform: rotate(-90deg) translate(60%, 40%);
            }
        }
        &--yellow::before {
            background-image: url("../images/category-bg-yellow.png");
            @include media-breakpoint-up(md) {
                left: 0;
                transform: translate(-7.5%, -57.5%);
            }
            @include media-breakpoint-down(md) {
                left: 50%;
                width: 130vw;
                transform: translate(-50%, -110%);
            }
        }
        &--orange::before {
            background-image: url("../images/category-bg-orange.png");
            @include media-breakpoint-up(md) {
                right: 0;
                transform: translate(5%, -50%);
            }
            @include media-breakpoint-down(md) {
                left: 50%;
                width: 150vw;
                transform: translate(-50%, -100%);
            }
        }
        &--purple::before {
            background-image: url("../images/category-bg-purple.png");
            @include media-breakpoint-up(md) {
                left: 0;
                transform: translate(-10%, -55%);
            }
            @include media-breakpoint-down(md) {
                left: 50%;
                width: 150vw;
                transform: translate(-50%, -100%);
            }
        }

        @include media-breakpoint-down(md) {
            .flicking-arrow-prev,
            .flicking-arrow-next {
                top: auto;
                bottom: calc(((100vw - 2rem) * 240 / 343) / 2);
                transform: translateY(50%);
            }
            .flicking-arrow-prev {
                left: 0.25rem;
            }
            .flicking-arrow-next {
                right: 0.25rem;
            }
        }
    }

    .item__subtitle {
        position: relative;
        margin-top: 0;
        margin-bottom: 0.5rem;
        color: var(--theme-color);
        font-size: calc(2.5rem + var(--bracket));
        font-weight: normal;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        z-index: 1;
        @include media-breakpoint-up(md) {
            margin-bottom: 1rem;
        }
    }

    .flicking-panel {
        .panel__group {
            display: grid;
            align-items: center;
            gap: 1.5rem;

            @include media-breakpoint-up(md) {
                grid-template-columns: 458fr 366fr;
                gap: 2.5rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
        .panel--image {
            padding: 0 1rem;
            order: 1;
            @include media-breakpoint-up(md) {
                padding: 1.25rem;
                order: -1;
            }
        }
        img {
            width: 100%;
            aspect-ratio: 343/240;
            object-fit: cover;
            @include media-breakpoint-up(md) {
                aspect-ratio: 414/288;
            }
        }
        .panel--text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.5rem;
            color: var(--theme-color);
            transition: color 0.3s;

            @include media-breakpoint-up(md) {
                gap: 1.25rem;
                padding: 1.25rem 1.25rem 1.25rem 0.625rem;
            }
            @include media-breakpoint-down(md) {
                align-items: center;
                text-align: center;
                padding: 0 1rem;
            }

            &:hover {
                color: var(--variant-color);

                i.icon {
                    transform: translateX(0.5rem);
                }
            }
        }
        .text__article {
            font-size: calc(1.5rem + var(--bracket));
            font-weight: 500;
            line-height: 1.3;
            letter-spacing: 0.05em;
        }
        button {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0;
            background: none transparent;
            border: 0;
            appearance: none;

            span {
                color: var(--variant-color);
                font-size: calc(1.125rem + var(--bracket));
                letter-spacing: 0.02em;
            }
            i.icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.5rem;
                color: white;
                font-size: calc(0.75rem + var(--bracket));
                aspect-ratio: 1/1;
                background-color: var(--variant-color);
                border-radius: 50%;
                transition: transform 0.3s;
            }
        }
    }
}
