.hero__banner {
    position: relative;
    width: 100vw;
    // height: calc(100vh + 27.75rem);
    background-color: #27b4b9;
    overflow: hidden;
    z-index: 0;
    @include media-breakpoint-up(lg) {
        padding-bottom: 23.625rem;
        margin-bottom: -23.625rem;
        // padding-bottom: 30.625rem;
    }
    @include media-breakpoint-down(lg) {
        height: 120vh;
        margin-bottom: -20vh;
    }
    &::before,
    &::after {
        @include clear;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 100%;
        aspect-ratio: 1.25/1;
        transform: translateX(-50%);
        pointer-events: none;

        @include media-breakpoint-up(sm) {
            aspect-ratio: 1/1;
        }
        @include media-breakpoint-up(md) {
            aspect-ratio: 2/1;
        }
        @include media-breakpoint-up(lg) {
            aspect-ratio: 144/31;
        }
    }

    &::before {
        background-image: url("../images/texture.png");
        background-size: cover;
        mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%);
        z-index: 1;
    }
    &::after {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 100%);
        @include media-breakpoint-up(lg) {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        }
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        opacity: 0;
        pointer-events: none;
        user-select: none;
        transition: opacity 0.3s ease;
    }

    .container {
        &--text {
            position: relative;
            display: flex;
            flex-direction: column;
            padding-top: 6.25rem;
            // pointer-events: none;
            z-index: 1;

            @include media-breakpoint-up(lg) {
                // position: absolute;
                // top: 0;
                // left: 50%;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                height: 100vh;
                // transform: translate(-50%, 0%);
            }
            @include media-breakpoint-up(xxl) {
                max-width: 83.5rem;
            }
        }
        &--image {
            position: relative;
            height: 100%;
        }
    }

    &--flicking {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        user-select: none;
        pointer-events: none;

        .flicking-panel {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            @include media-breakpoint-up(lg) {
                height: 111vh;
            }
        }
    }

    &--pagination {
        display: flex;
        gap: 0.375rem;
        pointer-events: auto;

        @include media-breakpoint-up(lg) {
            flex-direction: column;
            gap: 0.5rem;
        }
        @include media-breakpoint-down(lg) {
            padding-right: 1rem;
            flex-grow: 1;
        }

        button {
            position: relative;
            width: calc((100% - 0.75rem) / 3);
            height: 0.125rem;
            padding: 0;
            background-color: rgba(white, 0.6);
            border-width: 0;
            border-radius: 0.25rem;
            appearance: none;
            overflow: hidden;
            transition: height 0.3s;

            @include media-breakpoint-up(lg) {
                flex-direction: column;
                width: 0.25rem;
                height: 2.75rem;
            }

            &::before {
                @include beforeafter("", block);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #fff;
                border-radius: 0.25rem;
                transform-origin: left center;
                transform: translateX(-100%);

                @include media-breakpoint-up(lg) {
                    transform-origin: top center;
                    transform: translateY(-100%);
                }
            }

            &.active {
                @include media-breakpoint-up(lg) {
                    height: 10rem;
                }
                &::before {
                    // transform: translateX(-100%);
                    // animation: paginationHor 0s forwards alternate linear;
                    // @include media-breakpoint-up(lg) {
                    //     transform: translateY(-100%);
                    //     animation: paginationVer 0s forwards alternate linear;
                    // }
                }
            }
        }
    }

    &__image {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 0.375rem;
        margin-top: 3.5rem;
        margin-left: 0;
        margin-right: -14.123125rem;
        // flex-direction: column;
        z-index: 1;
        --article-slider-width: calc(100vw - 25rem + 14.123125rem);

        @include media-breakpoint-up(sm) {
            --article-slider-width: calc(33.75rem - 25rem);
            margin-right: 0;
        }
        @include media-breakpoint-up(md) {
            --article-slider-width: calc(45rem - 27rem);
        }
        @include media-breakpoint-up(lg) {
            align-content: center;
            gap: 0;
            height: calc(100vh + 6.25rem);
            padding-bottom: 0;
            margin-top: 0;
            margin-left: -25.5rem;
            margin-right: 0;
            z-index: 0;
            transform: translateY(-6.25rem);
        }
        @include media-breakpoint-up(xl) {
            height: calc(100vh + 27.75rem);
            margin-bottom: 0;
            margin-left: -22rem;
        }
        @include media-breakpoint-up(xxl) {
            margin-left: -9rem;
            margin-bottom: -8rem;
        }
    }

    hr {
        width: 100%;
        height: 0;
        margin: 0;
        border-width: 0;
        border-color: transparent;
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }

    .slider__item {
        transition: filter 0.3s;
        @include media-breakpoint-down(lg) {
            height: 6.5rem;
            img {
                height: 6.5rem;
            }
        }
        @include media-breakpoint-down(sm) {
            height: 5.875rem;
            img {
                height: 5.875rem;
            }
        }
        &--1 {
            width: 7.793125rem;
            @include media-breakpoint-up(sm) {
                width: 8.621875rem;
            }
            @include media-breakpoint-up(lg) {
                width: 20.3125rem;
                height: auto;
                margin-top: 4.5rem;
                margin-left: 1.875rem;
                order: 1;
            }
            + hr {
                order: 1;
            }
            img {
                aspect-ratio: 65/49;
                @include media-breakpoint-up(lg) {
                    width: 20.3125rem;
                }
            }
        }
        &--2 {
            width: 4.838125rem;
            @include media-breakpoint-up(sm) {
                width: 5.3525rem;
            }
            @include media-breakpoint-up(lg) {
                width: 17.5rem;
                margin-left: auto;
                margin-top: 2.75rem;
                margin-bottom: 2rem;
                order: 2;
            }
            + hr {
                order: 2;
            }
            img {
                aspect-ratio: 14/17;
                @include media-breakpoint-up(lg) {
                    width: 17.5rem;
                }
            }
        }
        &--3 {
            width: 8.535rem;
            @include media-breakpoint-up(sm) {
                width: 9.443125rem;
            }
            @include media-breakpoint-up(lg) {
                width: 24.0625rem;
                margin-top: -4.5rem;
                order: 4;
            }
            + hr {
                order: 4;
            }
            img {
                aspect-ratio: 77/53;
                @include media-breakpoint-up(lg) {
                    width: 24.0625rem;
                }
            }
        }
        &--4 {
            width: var(--article-slider-width);
            height: auto;
            margin-left: 0;
            margin-right: auto;
            @include media-breakpoint-up(lg) {
                width: 17.5rem;
                margin-left: auto;
                margin-right: 0;
                order: 3;
            }
            + hr {
                order: 3;
            }
        }

        img {
            display: block;
            object-fit: cover;
            pointer-events: none;
        }
    }

    &__text {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        max-width: 38.125rem;
        color: $secondary;
        pointer-events: initial;
        z-index: 1;

        &::before {
            @include beforeafter("", block);
            position: absolute;
            top: 0;
            right: 0;
            width: 31.625rem;
            aspect-ratio: 1520/1353;
            background-image: url("../images/hero-banner-text-bg.png");
            background-repeat: no-repeat;
            background-size: contain;
            transform: translate(27.5%, -17.5%);
            z-index: -1;
        }

        img {
            max-width: 100%;
            pointer-events: none;
            user-select: none;
        }
        h1 {
            margin: 0;
        }
        h2 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.1375em;
            margin: 0 -1em 0 0;
            font-size: calc(((100vw - 2rem) / 17.25) + var(--bracket));
            font-weight: normal;
            line-height: 1;
            letter-spacing: 0.15em;
            @include media-breakpoint-up(sm) {
                font-size: calc((31.75rem / 16.75) + var(--bracket));
            }
            @include media-breakpoint-up(lg) {
                font-size: calc(2rem + var(--bracket));
                letter-spacing: calc(0.3em - (var(--bracket) * 1.5));
            }

            i.icon {
                font-size: calc(1rem + var(--bracket));
                @include media-breakpoint-up(lg) {
                    font-size: calc(1.25rem + var(--bracket));
                }
            }
        }
        p {
            margin: 0;
            font-size: calc(1rem + var(--bracket));
            line-height: 1.7;
            @include media-breakpoint-up(sm) {
                font-size: calc(1.125rem + var(--bracket));
            }
            span {
                display: block;
            }
        }
    }

    &__article {
        // position: absolute;
        // bottom: 10%;
        // right: 0%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: var(--article-slider-width);
        padding-bottom: 0.125rem;
        color: $secondary;
        @include media-breakpoint-up(lg) {
            width: 17.5rem;
            padding-top: 2rem;
            padding-left: 1.75rem;
            padding-right: 0.75rem;
        }

        &--blue {
            color: $secondary;
            .icon-arrow-right {
                color: white;
                background-color: $secondary;
            }
        }
        &--yellow {
            color: #c1780b;
            .icon-arrow-right {
                color: white;
                background-color: #c1780b;
            }
        }
        &--orange {
            color: #d04c14;
            .icon-arrow-right {
                color: white;
                background-color: #d04c14;
            }
        }
        &--purple {
            color: #2d31a5;
            .icon-arrow-right {
                color: white;
                background-color: #2d31a5;
            }
        }

        .article--label {
            font-size: calc(1rem + var(--bracket));
            letter-spacing: 0.15em;
            line-height: 1;
            @include media-breakpoint-up(lg) {
                font-size: calc(1.25rem + var(--bracket));
            }
        }
        .article--title {
            font-size: calc(1.125rem + var(--bracket));
            font-weight: 500;
            letter-spacing: 0.05em;
            line-height: 1.3;
            @include media-breakpoint-up(lg) {
                font-size: calc(1.375rem + var(--bracket));
            }
        }
        .article--company {
            display: flex;
            align-items: center;
            gap: 0.125rem;
            font-size: calc(0.875rem + var(--bracket));
            letter-spacing: 0.15em;
            line-height: 1;
            @include media-breakpoint-up(lg) {
                font-size: calc(1.125rem + var(--bracket));
            }

            .icon-arrow-right {
                display: flex;
                align-items: center;
                width: calc(1.5rem + var(--bracket));
                height: calc(1.5rem + var(--bracket));
                padding-left: 0.35rem;
                margin-left: 0.375rem;
                font-size: calc(0.875rem + var(--bracket));
                border-radius: 50%;
                transition: transform 0.3s;
                @include media-breakpoint-up(lg) {
                    margin-left: auto;
                }
            }
        }
        &:hover {
            i.icon-arrow-right {
                transform: translateX(0.5rem);
            }
        }
    }

    &__decoration {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 0.5rem;
        // padding-top: 10rem;
        // padding-bottom: 3.75rem;
        color: rgba(white, 0.7);
        @include media-breakpoint-up(lg) {
            flex-direction: column;
            justify-content: space-between;
            height: calc(100vh - 6.25rem);
            padding-bottom: 1.25rem;
            @media screen and (min-height: 860px) {
                height: calc(100vh - 12.5rem);
                padding-bottom: 0;
            }
        }

        &--left {
            margin-right: 2.25rem;
            @include media-breakpoint-down(lg) {
                justify-content: flex-end;
                padding-top: 3.5rem;
                margin-bottom: 1rem;
                span {
                    font-size: calc(0.875rem + var(--bracket));
                }
            }
        }
        &--right {
            order: 1;
            @include media-breakpoint-up(lg) {
                margin-left: 1rem;
            }
            @include media-breakpoint-down(lg) {
                margin-top: 1rem;
                span {
                    font-size: calc(0.75rem + var(--bracket));
                }
            }
        }
        span {
            line-height: 1.7;
            @include media-breakpoint-up(lg) {
                font-size: calc(1.5rem + var(--bracket));
                writing-mode: tb-rl;
                transform: scale(-1);
            }
        }
        i.icon {
            font-size: calc(3.375rem + var(--bracket));
            &.icon-caret-up-group {
                @include media-breakpoint-down(lg) {
                    font-size: calc(1.75rem + var(--bracket));
                    writing-mode: sideways-rl;
                }
            }
            &.icon-taiwan {
                @include media-breakpoint-down(lg) {
                    font-size: calc(0.875rem + var(--bracket));
                }
            }
        }
    }
}

@keyframes paginationHor {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes paginationVer {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0%);
    }
}
