.numeric__grade {
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
    .container {
        max-width: 71rem;
    }
    ul {
        @include listreset;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 0.375rem 1rem;
        @include media-breakpoint-up(xs) {
            gap: 3rem;
        }
    }
    li {
        width: calc((100% - 1rem) / 2);
        // margin-top: calc(1.5rem * var(--index));
        padding: 1rem 0.875rem;
        color: $secondary;
        text-align: center;
        background-color: rgba($white, 0.8);
        border-radius: 0.75rem;
        backdrop-filter: blur(0.25rem);
        box-shadow: 0 0 1.25rem rgba($dark-gray, 0.25);
        @include media-breakpoint-up(xs) {
            margin-top: calc(1.5rem * var(--index));
            padding: 1.875rem;
            width: calc((100% - 9rem) / 4);
            border-radius: 1rem;
        }
        @include media-breakpoint-down(xs) {
            &:nth-child(odd) {
                margin-top: 1rem;
            }
        }
    }
    .grade {
        &__title {
            margin-bottom: 0.5rem;
            font-size: 1.125rem;
            font-weight: 600;
            line-height: 1.5;
            @include media-breakpoint-up(xs) {
                margin-bottom: 0.75rem;
                font-size: 1.5rem;
            }
        }
        &__highlight {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            &--number,
            &--prefix {
                font-size: 2rem;
                line-height: 1;
                @include media-breakpoint-up(xs) {
                    font-size: 2.875rem;
                }
                @include media-breakpoint-down(xs) {
                    letter-spacing: -0.025em;
                }
            }
            &--unit {
                margin-left: 0.25rem;
                font-size: 1.125rem;
                line-height: 1.15;
                @include media-breakpoint-up(xs) {
                    font-size: 1.625rem;
                }
            }
        }
    }
}
