<footer>
    <a href="#z" accesskey="z" class="accesskey" title="頁尾網站資訊">:::</a>
    <div class="container">
        <div class="row">
            <div class="unit__group">
                <div class="unit__item">
                    <div class="item__title">主辦單位｜</div>
                    <div class="item__image">
                        <img src="../assets/images/logo-sme.png" alt="經濟部中小及新創企業署" class="item__image--sme" />
                    </div>
                </div>
                <div class="unit__item">
                    <div class="item__title">執行單位｜</div>
                    <div class="item__image">
                        <img src="../assets/images/logo-niea.png" alt="全國創新創業總會" class="item__image--niea" />
                        <img src="../assets/images/logo-nasme.svg" alt="中華民國全國中小企業總會" class="item__image--nasme" />
                    </div>
                </div>
            </div>
            <ul class="contact__list contact__list--server">
                <li>連絡電話：<a href="tel:+0223660812">(02)2366-0812</a>分機170或<a href="tel:0800589168">0800-589-168</a></li>
                <li>服務時間：週一到週五 早上09:00－晚上6:00</li>
            </ul>
            <ul class="contact__list contact__list--links">
                <li><a href="https://startup.sme.gov.tw/">回新創圓夢網</a></li>
                <li><a href="https://startup.sme.gov.tw/home/modules/article/openDeclaration.php">政府網站資料公開宣告</a></li>
                <li><a href="https://startup.sme.gov.tw/home/modules/article/privacyPolicy.php">隱私權政策和網站安全政策</a></li>
            </ul>
            <div class="browser">建議瀏覽器：Edge、Chrome 31、Firefox 31 以上版本</div>
        </div>
    </div>
</footer>
