<header>
    <a href="#u" accesskey="u" class="accesskey" title="選單連結區塊">:::</a>
    <div class="container">
        <div class="logo__group">
            <a href="https://startup.sme.gov.tw/" class="logo--master"><img src="assets/images/logo.png" alt="新創圓夢網" /></a>
            <a href="/" class="logo--channel"><img src="assets/images/logo-channel.png" alt="" /></a>
        </div>
        <div class="function__group">
            <div onmouseover="onToggleFZSlideDown()" onmouseleave="onToggleFZSlideUp()" class="fontsize__group">
                <button type="button" class="btn--circle btn--primary btn--fontsize">
                    <i class="icon-font-size"></i>
                </button>
                <div class="fontsize__dropdown">
                    <ul>
                        <li><button onclick="onChangeFontSize('sm')" type="button">小</button></li>
                        <li><button onclick="onChangeFontSize('md')" type="button">中</button></li>
                        <li><button onclick="onChangeFontSize('lg')" type="button">大</button></li>
                    </ul>
                </div>
            </div>
            <button type="button" class="btn--circle btn--primary btn--translator">
                <i class="icon-translator"></i>
                <div id="google_translate_element"></div>
            </button>
        </div>
    </div>
</header>
