footer {
    position: relative;
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
    color: #222;
    text-align: center;
    background-color: #f4f4f4;

    .row {
        display: grid;
        gap: 0.625rem;
        font-size: 0.875rem;

        @include media-breakpoint-down(md) {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        > * {
            padding: 0;
        }
    }

    .unit__group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
    }
    .unit__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.25rem;
        @include media-breakpoint-up(xs) {
            gap: 0.5rem;
        }
        @include media-breakpoint-up(md) {
            gap: 0.625rem;
        }

        .item__image {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.25rem;
            @include media-breakpoint-up(xs) {
                gap: 0.5rem;
            }
            @include media-breakpoint-up(md) {
                gap: 0.625rem;
            }
        }
        img {
            display: block;

            &.item__image--sme {
                height: 1.625rem;
                @include media-breakpoint-up(xs) {
                    height: 1.875rem;
                }
                @include media-breakpoint-up(md) {
                    height: 2rem;
                }
            }
            &.item__image--nasme {
                height: 1.375rem;
                @include media-breakpoint-up(xs) {
                    height: 1.625rem;
                }
                @include media-breakpoint-up(md) {
                    height: 1.75rem;
                }
            }
            &.item__image--niea {
                height: 0.875rem;
                @include media-breakpoint-up(xs) {
                    height: 1.125rem;
                }
                @include media-breakpoint-up(md) {
                    height: 1.25rem;
                }
            }
        }
    }

    .contact__list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.625rem;
        align-items: center;
        justify-content: center;
        margin: 0;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            @include parent-append("--server") {
                @include media-breakpoint-down(md) {
                    display: inline;
                }
            }

            &::after {
                @include beforeafter;
                width: 0.0625rem;
                height: 1.5em;
                margin-left: 0.625rem;
                background-color: currentColor;

                @include parent-append("--server") {
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
            }
            &:last-child::after {
                display: none;
            }
        }

        a {
            color: currentColor;
            &:hover {
                color: $primary;
            }
        }
    }
}
