.goog-te-gadget-simple[id*=":0.targetLanguage"] {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    height: 2.75rem;
    padding: 0;
    border: 0;
    border-radius: 1.5rem;
    background-color: transparent;
    opacity: 0;

    > img {
        display: block;
    }
    > span {
        display: none;
        width: 0;
    }
}
