header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 1;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo__group {
        display: flex;
        gap: 0.5rem;
        img {
            display: block;
            height: 2.5rem;
            @include media-breakpoint-up(md) {
                height: 3.75rem;
            }
        }

        a {
            display: block;
        }
    }

    .function__group {
        display: flex;
        gap: 0.625rem;
    }
    .btn {
        &--circle {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.75rem;
            height: 3rem;
            padding: 0;
            color: $secondary;
            font-size: calc(1.625rem + var(--bracket));
            background-color: transparent;
            border: 0;
        }
        &--translator {
            position: relative;
            &::before,
            &::after {
                @include beforeafter;
                position: absolute;
                width: 0.45em;
                padding-top: 0.4em;
                background-color: white;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
            &::before {
                top: calc(0.7em - var(--bracket));
                left: calc(0.625em - var(--bracket));
            }
            &::after {
                bottom: calc(0.3em - var(--bracket));
                right: calc(0.165em - var(--bracket));
            }
        }
    }
    .fontsize__group {
        position: relative;
    }
    .fontsize__dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);

        ul {
            @include listreset;
            background-color: white;
            font-size: calc(1rem + var(--bracket));
            font-weight: 600;
            border-radius: 1.375rem;
            box-shadow: 0 0.125rem 0.25rem rgba(black, 0.25);
            overflow: hidden;
        }
        li + li {
            border-top: 0.0625rem solid #e7e7e7;
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.75rem;
            height: 2.75rem;
            padding: 0;
            color: #16474b;
            background: none;
            border: 0;
            appearance: none;

            &:hover {
                background-color: #f1fcfc;
            }
        }
    }
}
