.article-content {
    .container {
        max-width: 48.25rem;
        color: $dark;

        > * {
            margin: 1.875rem 0;
            @include media-breakpoint-up(md) {
                margin: 2.5rem 0;
            }
            &:not(.article-image-group) {
                @include media-breakpoint-up(md) {
                    padding-left: 4.6875rem;
                    padding-right: 4.6875rem;
                }
            }
        }

        > h2 {
            color: $secondary;
            font-size: calc(1.625rem + var(--bracket));
            font-weight: 500;
            line-height: 1.4;
            text-align: center;
            text-transform: capitalize;
            @include media-breakpoint-down(md) {
                white-space: pre-line;
            }
        }
        > p {
            font-size: calc(1.125rem + var(--bracket));
            line-height: 1.7;
        }
        > blockquote {
            position: relative;
            padding-top: 3rem;
            padding-bottom: 3rem;
            margin-left: 1.25rem;
            margin-right: 1.25rem;
            font-family: "Noto Serif TC", serif;
            font-size: calc(1.25rem + var(--bracket));
            line-height: 1.7;
            letter-spacing: 0.015em;
            text-align: center;
            @include media-breakpoint-up(md) {
                margin-left: 3.75rem;
                margin-right: 3.75rem;
                text-align: left;
            }

            &::before,
            &::after {
                @include clear;
                position: absolute;
                left: 50%;
                width: 3.75rem;
                height: 0.125rem;
                background: linear-gradient(to right, #45a7a3 0%, #47cbc6 100%);
                transform: translate(-50%, 0);
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
        }
    }

    .article-image-group {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            align-items: flex-end;
            gap: 1.5625rem;
        }

        &--landscape {
            --image-width: 29.6875rem;
        }
        &--portrait {
            --image-width: 22.5rem;
        }

        img {
            width: 100%;
            @include media-breakpoint-up(md) {
                width: var(--image-width);
            }
        }
        span {
            color: $gray-400;
            font-size: calc(0.9375rem + var(--bracket));
            line-height: 1.5;
            letter-spacing: 0.02em;
            @include media-breakpoint-up(md) {
                width: calc(100% - 1.5625rem - var(--image-width));
            }
        }
    }
    .article-video {
        position: relative;
        width: 100%;

        &::before {
            display: block;
            padding-top: calc(9 / 16 * 100%);
            content: "";
        }

        > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
