.article-background {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 10rem;
    pointer-events: none;
    opacity: 0.9;
    overflow: hidden;
    z-index: -1;
    @at-root .article-background-orange#{&} {
        background-color: #f29745;
    }
    @at-root .article-background-blue#{&} {
        background-color: #1ab6bb;
    }
    @at-root .article-background-yellow#{&} {
        background-color: #ffd81b;
    }
    @at-root .article-background-purple#{&} {
        background-color: #3d41bd;
    }
    @include media-breakpoint-up(md) {
        height: 17.5rem;
    }
    &::after {
        @include clear;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 1) 100%);
    }
    span {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        &::before,
        &::after {
            @include clear;
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            filter: blur(10vw);
            @include media-breakpoint-up(md) {
                filter: blur(4vw);
            }
        }
        &.light {
            &::before {
                top: 0;
                left: 0;
                transform: translate(-25%, -25%);
                @at-root .article-background-orange#{&} {
                    background-color: #fadbb1;
                }
                @at-root .article-background-blue#{&} {
                    background-color: #68c1be;
                }
                @at-root .article-background-yellow#{&} {
                    background-color: #fefb8e;
                }
                @at-root .article-background-purple#{&} {
                    background-color: #cacbea;
                }
                @include media-breakpoint-up(md) {
                    transform: translate(-50%, -50%);
                }
            }
            &::after {
                bottom: 0;
                right: 0;
                transform: translate(25%, 25%);
                @at-root .article-background-orange#{&} {
                    background-color: #fadbb1;
                }
                @at-root .article-background-blue#{&} {
                    background-color: #b3d2d0;
                }
                @at-root .article-background-yellow#{&} {
                    background-color: #fefb8e;
                }
                @at-root .article-background-purple#{&} {
                    background-color: #cacbea;
                }
                @include media-breakpoint-up(md) {
                    transform: translate(50%, 50%);
                    @at-root .article-background-orange#{&} {
                        background-color: #fdf3de;
                    }
                }
            }
        }
        &.dark {
            &::before {
                bottom: 0;
                left: 0;
                transform: translate(-25%, 25%);
                @at-root .article-background-orange#{&} {
                    background-color: #f29745;
                }
                @at-root .article-background-blue#{&} {
                    background-color: #3bb5b8;
                }
                @at-root .article-background-yellow#{&} {
                    background-color: #ffd81b;
                }
                @at-root .article-background-purple#{&} {
                    background-color: #cacbea;
                }
                @include media-breakpoint-up(md) {
                    transform: translate(-50%, 50%);
                    @at-root .article-background-orange#{&} {
                        background-color: #ec6303;
                    }
                    @at-root .article-background-blue#{&} {
                        background-color: #008b8b;
                    }
                    @at-root .article-background-yellow#{&} {
                        background-color: #f7b200;
                    }
                    @at-root .article-background-purple#{&} {
                        background-color: #cacbea;
                    }
                }
            }
            &::after {
                top: 0;
                right: 0;
                transform: translate(25%, -25%);
                @at-root .article-background-orange#{&} {
                    background-color: #f29745;
                }
                @at-root .article-background-blue#{&} {
                    background-color: #359c9b;
                }
                @at-root .article-background-yellow#{&} {
                    background-color: #fffeff;
                }
                @at-root .article-background-purple#{&} {
                    background-color: #7479d7;
                }
                @include media-breakpoint-up(md) {
                    transform: translate(50%, -50%);
                }
            }
        }
    }
}
