.article-hero-banner {
    .container {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1rem;
        color: $gray-450;
    }

    img {
        grid-column: span 2;
        display: block;
        width: 100%;
        aspect-ratio: 794/476;
        object-fit: cover;
        border-radius: .25rem;
    }

    .article-publish-date {
        font-size: calc(1rem + var(--bracket));
        text-align: left;
    }

    .article-viewer {
        font-size: calc(1rem + var(--bracket));
        text-align: right;
    }
}