.article-title {
    .container {
        display: flex;
        flex-direction: column;
        gap: 0.9375rem;
        margin-bottom: 1rem;
        @include media-breakpoint-up(md) {
            gap: 0.625rem;
            text-align: center;
        }
    }

    .img__container--lg {
        img {
            height: 4.25rem;
            @include media-breakpoint-up(md) {
                height: 5rem;
            }
        }
    }
    img {
        display: block;
        height: 2.25rem;
        margin: 0 auto;
        @include media-breakpoint-up(md) {
            height: 3rem;
        }
    }

    h1 {
        margin: 0;
        color: $secondary;
        font-size: calc(2rem + var(--bracket));
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        white-space: pre-line;
        @include media-breakpoint-up(md) {
            font-size: calc(2.5rem + var(--bracket));
        }
    }
}
