@mixin list($margin: 0, $padding: 0, $style: none) {
  margin: $margin;
  padding: $padding;
  list-style: $style;
}

@mixin beforeafter($content: '', $display: block) {
  content: $content;
  display: $display;
}

@mixin listreset() {
  @include list(0, 0, none);
}

@mixin clear() {
  @include beforeafter('', table);
  clear: both;
}

@mixin ellipsis() {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin lineclamp($line) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin title-spacing($unit) {
  letter-spacing: 0.125rem * 0.5 * $unit;
}

@mixin font-weight-500 {
  font-weight: 500;
}
