body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, Noto Sans TC, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 微軟正黑體, Microsoft JhengHei;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    --bracket: 0rem;

    &.opened {
        overflow: hidden;
    }
    &.fontsize--sm {
        --bracket: 0rem;
    }
    &.fontsize--md {
        --bracket: .125rem;
    }
    &.fontsize--lg {
        --bracket: .25rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}

.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
