body {
    font-family: "Inter", "Noto Sans TC", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    &.opened {
        overflow: hidden;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
}
