//
$enable-grid-classes: true !default;
$enable-container-classes: true !default;
$enable-important-utilities: true !default;
$enable-cssgrid: false !default;

// 欄位設定
$variable-prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix !default;

$timing-function: cubic-bezier(0.35, 0.7, 1, 1);

// breakpoint
$grid-breakpoints: (
    3xs: 0,
    2xs: 320px,
    xs: 390px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
) !default;
// scss-docs-end grid-breakpoints

// breakpoint 內，內文寬度
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
) !default;
// scss-docs-end container-max-widths

// 間距設定
$spacer: 0.0625rem; //1px
$spacers: (
    "0": $spacer * 0,
    "5": $spacer * 5,
    "10": $spacer * 10,
    "15": $spacer * 15,
    "20": $spacer * 20,
    "30": $spacer * 30,
    "40": $spacer * 40,
    "auto": auto,
);

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$border-radius: 0.25rem !default;
$border-radius-sm: 0.2rem !default;
$border-radius-lg: 0.3rem !default;
$border-radius-pill: 50rem !default;

$grid-columns: 12 !default;
$grid-gutter-width: 2rem !default;
$grid-row-columns: 6 !default;
$container-padding-x: $grid-gutter-width !default;
$gutters: $grid-gutter-width !default;

// ---------------------------------------------------------

// header text 設定
$h1: $spacer * 38; //38px
$h2: $spacer * 28; //28px
$h3: $spacer * 20; //20px
$h4: $spacer * 16; //16px
$h5: $spacer * 14; //14px

// ---------------------------------------------------------

// 灰色階色碼
$gray-100: #f5f5f5 !default;
$gray-150: #E4E2E2 !default;
$gray-200: #d9d9d9 !default;
$gray-300: #acadad !default;
$gray-400: #848484 !default;
$gray-450: #616161 !default;
$gray-500: #4a4a4a !default;

$primary: #d04c14 !default;
$secondary: #1d4843 !default;
$secondary-light: #58c0bf !default;
$secondary-dark: #018b8b !default;
$secondary-lighter: #b3d2d0 !default;

// 無彩色色碼
$white: #ffffff !default;
$gray: #fafafa !default;
$dark-gray: #A8A8A8 !default;
$black: #0f0f0f !default;
$dark: #222222 !default;

// 社群軟體色碼
$facebook: #1877f2 !default;
$google: #ea4335 !default;
$line: #00c200 !default;
$instagram: #dd2a7b !default;
$weibo: #e6162d !default;
$rss: #ff5700 !default;
$twitter: #00acee !default;
$whatapp: #4fce5d !default;
