@import "./variables";

@font-face {
    font-family: "#{$icomoon-font-family}";
    src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?jxiixk");
    src: url("#{$icomoon-font-path}/#{$icomoon-font-family}.eot?jxiixk#iefix") format("embedded-opentype"), url("#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?jxiixk") format("truetype"), url("#{$icomoon-font-path}/#{$icomoon-font-family}.woff?jxiixk") format("woff"), url("#{$icomoon-font-path}/#{$icomoon-font-family}.svg?jxiixk##{$icomoon-font-family}") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "#{$icomoon-font-family}" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}
.icon-caret-up-group {
    &:before {
        content: $icon-caret-up-group;
    }
}
.icon-chevron-right {
    &:before {
        content: $icon-chevron-right;
    }
}
.icon-circle-play {
    &:before {
        content: $icon-circle-play;
    }
}
.icon-cross {
    &:before {
        content: $icon-cross;
    }
}
.icon-font-size {
    &:before {
        content: $icon-font-size;
    }
}
.icon-sparkling {
    &:before {
        content: $icon-sparkling;
    }
}
.icon-taiwan {
    &:before {
        content: $icon-taiwan;
    }
}
.icon-translator {
    &:before {
        content: $icon-translator;
    }
}
