$icomoon-font-family: "sme-startup-insight" !default;
$icomoon-font-path: "../fonts" !default;

$icon-arrow-right: unquote('"\\e900"');
$icon-caret-up-group: unquote('"\\e901"');
$icon-chevron-right: unquote('"\\e902"');
$icon-circle-play: unquote('"\\e903"');
$icon-cross: unquote('"\\e907"');
$icon-font-size: unquote('"\\e904"');
$icon-sparkling: unquote('"\\e908"');
$icon-taiwan: unquote('"\\e905"');
$icon-translator: unquote('"\\e906"');
